version: "3.7"

services:

  proxy:
    build:
      dockerfile: Dockerfile.demo
      context: ./proxy
    command: ["./wait-for-it.sh", "--timeout=0", "device-integration_nokia_webapp_1:3000", "--", "nginx", "-g", "daemon off;"]
    tty: true
    ports:
      - '3000:443'
    depends_on:
      - webapp

  webapp:
    build:
      context: .
    depends_on:
      - mariadb

  migration:
    image: device-integration_nokia_webapp:latest
    command: ["./wait-for-it.sh", "--timeout=0", "device-integration_nokia_mysql_1:3306", "--", "npm", "run", "migrate"]
    depends_on:
      - webapp
      - mariadb

  mariadb:
    build: db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - sensor_data_volume:/var/lib/mysql

volumes:
  sensor_data_volume:

networks:
  default:
    external:
      name: device_network
